In [2]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [3]:
# total number of actions

df['action'].shape[0]

8188

In [6]:
# Number of unique users

df['id'].unique().shape[0]

6328

In [15]:
# size of control group and experiment group
df.groupby('group').id.nunique()

group
control       3332
experiment    2996
Name: id, dtype: int64

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [10]:
df.timestamp.max(), df.timestamp.min()

('2017-01-18 10:24:08.629327', '2016-09-24 17:42:27.839496')

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [11]:
df['action'].unique()

array(['view', 'click'], dtype=object)

### 4. Define the click through rate (CTR) for this experiment.

In [22]:
# CTR experiment
df[(df['action']=='click') & (df['group']=='experiment')]['id'].nunique() / df[(df['action']=='view') & (df['group']=='experiment')]['id'].nunique()

0.3097463284379172

In [23]:
# CTR control
df[(df['action']=='click') & (df['group']=='control')]['id'].nunique() / df[(df['action']=='view') & (df['group']=='control')]['id'].nunique()

0.2797118847539016